In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
#Event='AscendEx'
Event='Upbit'
raw_path='../Dataset/'+Event+'/all_data_token/'
address_path='../Dataset/'+Event+'/dataset/'
#account_feature_output_path = '../Code_Results/Intermediary_Account_Feature_Results/'+Event+'_account_feature.csv'
input_path ='../Code_Results/Tx_Value_Results/Tx_ETH_Value.csv'

In [49]:
#Step1：筛选出之发生了ETH交易的洗钱账户（source+layering）
#方法2：all_erc20_address和all_normal_address的交集，再用all_normal_address减掉交集
all_address=pd.read_csv(address_path+"all-address.csv")
all_erc20_address=pd.read_csv(address_path+"all-erc20-address.csv")
all_normal_address=pd.read_csv(address_path+"all-normal-address.csv")
address=all_address['address']
erc20_address=all_erc20_address['address']
normal_address=all_normal_address['address']
ETH_address=set(address)-set(erc20_address)
temp=set(erc20_address)&set(normal_address)
ETH_address=list(set(normal_address)-temp)
#再筛选出来label是heist的账户
all_ETH_address=all_normal_address[all_normal_address['address'].isin(ETH_address)]
# ETH_heist_address=list(all_ETH_address.loc[(all_ETH_address['label']=='heist')&(all_ETH_address['name_tag']!='ml_transit_9')]['address'])
ETH_heist_address=list(all_ETH_address.loc[(all_ETH_address['label']=='heist')]['address'])

In [50]:
len(ETH_heist_address)

9968

In [51]:
#Step2：筛选出ETH账户的交易
# ETH_address={'0x70dcf33ca09bd87bb2a301280331406ebd32c8a0'}  测试数据
all_normal_tx=pd.read_csv(address_path+"all-normal-tx.csv")
ETH_tx=all_normal_tx[all_normal_tx['from'].isin(list(ETH_heist_address)) | all_normal_tx['to'].isin(list(ETH_heist_address))]
#ETH_tx.to_csv('../Code_Results/Intermediary_Account_Feature_Results/'+Event+'_ETH_account_TX.csv', index=False)

In [52]:
ETH_tx=ETH_tx.loc[ETH_tx['value']!=0]
ETH_tx['value']=ETH_tx['value'].astype(float)/1e+18
Heist_Tx_value=ETH_tx['value'].to_frame()
Heist_Tx_value.to_csv('../Code_Results/Tx_Value_Results/9968_Heist_Tx_ETH_Value.csv',index=False)

In [53]:
len(Heist_Tx_value)

108600

In [26]:
all_tx=pd.read_csv(address_path+"all-tx.csv")
all_ETH_tx= all_tx.loc[pd.isnull(all_tx["contractAddress"])]

D:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [28]:
all_ETH_tx=all_ETH_tx.loc[all_ETH_tx['value']!=0]

In [27]:
all_ETH_tx['value']=all_ETH_tx['value'].astype(float)/1e+18

<ipython-input-27-d842c9306fd2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_ETH_tx['value']=all_ETH_tx['value'].astype(float)/1e+18

In [29]:
Heist_Tx_value=all_ETH_tx['value'].to_frame()

In [32]:
List=Heist_Tx_value['value'].tolist()

In [35]:
import random
a=random.sample(List,776966)

In [41]:
ETH_tx_776966=pd.DataFrame()
ETH_tx_776966['value']=a
ETH_tx_776966.to_csv('../Code_Results/Tx_Value_Results/Heist_Tx_776966_ETH_Value.csv',index=False)

In [40]:
ETH_tx_776966

            value
0        0.391929
1       19.999265
2        5.000000
3        8.247451
4        0.009000
...           ...
776961   0.087763
776962   0.298000
776963   0.050000
776964   1.000000
776965   0.050000

[776966 rows x 1 columns]

In [30]:
Heist_Tx_value

             value
16        0.100000
20        0.101559
21       29.990000
22       30.091514
23       29.990000
...            ...
2348162   1.815400
2348163   0.400000
2348164   0.399842
2348165   0.066000
2348179   0.036471

[1221999 rows x 1 columns]

In [31]:
Heist_Tx_value.to_csv('../Code_Results/Tx_Value_Results/Heist_Tx_ETH_Value.csv',index=False)

In [14]:
all_ETH_tx

,hash,from,to,value,timeStamp,blockNumber,tokenSymbol,contractAddress,isError,gasPrice,gasUsed
16,0xd2410b2886bd1e2fa46621fa7d37f44d16b2cadd80c2...,0x00000b20f0f6a3a212aa6b85106709cd5941457c,0x960fd5cfa6c36e9db131824ddf07df6322a053de,1e+17,1651826446,14722541,NaN,NaN,0.0,4.164952e+10,123418
20,0x7a5824bc7ef20a7390838f7febaa07bbbc9b4855fd23...,0xf6bbc05580b5348ef5ac601c6aa051d60659d9a6,0x00014f98a1b39e025e0efa3ff4bd1eda6676b6e8,1.01559e+17,1524395957,5485531,NaN,NaN,0.0,2.100000e+10,21000
21,0xfb11ca0e97d6e14a677919c461d900ec44855e24b65e...,0xe0293caf6c753aaad7bbc063ecddf8ed41e62eaf,0x00014f98a1b39e025e0efa3ff4bd1eda6676b6e8,2.999e+19,1525587441,5564721,NaN,NaN,0.0,4.000000e+09,21000
22,0x865d4689e236341243d5a6782c10fde1950e93b08128...,0x00014f98a1b39e025e0efa3ff4bd1eda6676b6e8,0x0d0707963952f2fba59dd06f2b425ace40b492fe,3.00915e+19,1525588654,5564799,NaN,NaN,0.0,2.000200e+09,21000
23,0x7c86b55754d69682fa73783789350e3967422680c3c2...,0xe0293caf6c753aaad7bbc063ecddf8ed41e62eaf,0x00014f98a1b39e025e0efa3ff4bd1eda6676b6e8,2.999e+19,1525680385,5570975,NaN,NaN,0.0,6.000000e+09,21000
...,...,...,...,...,...,...,...,...,...,...,...
2348162,0x34f6fb0208b4076bb34c4feda5e8e4af21a1b8b110d6...,0xe16b2bf30515f7bee66dcbeecd5ccd19873fb8d3,0xfff79f14c5f97ba93861ddcc6e4196c2cd6581c1,1.8154e+18,1589951923,10100908,NaN,NaN,0.0,3.000000e+10,33545
2348163,0x61eeca352e57a3eda7a14f74dd70a224fd65b356ac38...,0x111111119997a144ccff684afd89d62592cc9db2,0xfffc3432992643ad9767c548b8c855791f36653b,4e+17,1534285117,6148354,NaN,NaN,0.0,6.000000e+09,21000
2348164,0xafc32ee895ba9b3d7365cd3bcdb61290f6d05d98d394...,0xfffc3432992643ad9767c548b8c855791f36653b,0x0a75910bc14c3596a3d02f463a9f2c75d51cb625,3.99842e+17,1535317000,6219066,NaN,NaN,0.0,1.500000e+09,21000
2348165,0xbfb981f4c40d98aee946b7c549551eb89f28726f8328...,0xec6d3075f298059dba525e7cb1114dbdf8a8f842,0xfffc3432992643ad9767c548b8c855791f36653b,6.6e+16,1631195580,13191907,NaN,NaN,0.0,2.330677e+11,21000
2348179,0xed4db27d87c75a4044be83738ee195918d2adbeda596...,0xfffd9ad702cf2450b81a5c4339d3d8f45496feeb,0x300f42daa6f456eb893ff39268180c848679ebb1,3.64711e+16,1604799064,11213801,NaN,NaN,0.0,3.375000e+10,21000

In [4]:
len(all_ETH_tx)

1627861

In [5]:
import math
math.log10(max(list(all_ETH_tx['value'].astype(float)))/1e+18)

5.534026106056135

In [6]:
input_csv = pd.read_csv(input_path)

In [7]:
input_csv

   Tx_value  Num  Percent
0         0  NaN      NaN
1         1  NaN      NaN
2         2  NaN      NaN
3         3  NaN      NaN
4         4  NaN      NaN
5         5  NaN      NaN
6         6  NaN      NaN

In [13]:
#Step3：统计交易金额所在范围的数量
import warnings
warnings.filterwarnings("ignore")
tmp=len(all_ETH_tx.loc[(all_ETH_tx['value'].astype(float)/1e+18<1)])
input_csv['Num'][0]=tmp                  
for i in range(1,len(input_csv['Tx_value'])):
    Tx_value_range=input_csv['Tx_value']
#     print(int(Tx_value_range[i]))
    min_value=10**(Tx_value_range[i].astype(float)-1)
    max_value=10**(Tx_value_range[i].astype(float))
#     print(min_value)
#     print(max_value)
    tmp=len(all_ETH_tx.loc[(all_ETH_tx['value'].astype(float)/1e+18>=min_value)& (all_ETH_tx['value'].astype(float)/1e+18<max_value)])
    #print(tmp)
    input_csv['Num'][i]=tmp
#     break

In [16]:
input_csv['Percent']=input_csv['Num']/sum(input_csv['Num'])

In [17]:
input_csv

   Tx_value        Num   Percent
0         0  1124740.0  0.690931
1         1   349718.0  0.214833
2         2   134040.0  0.082341
3         3    17591.0  0.010806
4         4     1676.0  0.001030
5         5       94.0  0.000058
6         6        2.0  0.000001

In [18]:
sum(input_csv['Percent'])

1.0