In [21]:
import pandas as pd
import numpy as np
import os
import csv

In [22]:
#Event='AscendEx'
Event='Normal'
raw_path='../Dataset/Normal/'
account_feature_output_path = '../Code_Results/Ac_Balance_Results/'+Event+'_account_Balance.csv'
feature_output_path ='../Code_Results/Intermediary_Account_Feature_Results/'+Event

In [23]:
file_list = os.listdir(raw_path)
normal_list=[]
for k in range(0,len(file_list)):
    normal_list.append(file_list[k][:-4])

In [24]:
with open(account_feature_output_path,'w') as f:

    csv_write = csv.writer(f)
    csv_head = ["address","In","Out","Balance"]
    csv_write.writerow(csv_head)

output = pd.read_csv(account_feature_output_path)
output['address'] = normal_list

In [25]:
#Step3：统计每个账户的余额
for i in range(0,len(normal_list)):
    print('%d/%d'%(i,len(normal_list)),end="\r")
    file_name=normal_list[i]
    file_name = raw_path + file_name + '.csv'
    print(file_name,end="\r")
    if os.path.exists(file_name):
        record = pd.read_csv(file_name)
        record=record.loc[record["isSuccessful"]=='OK']

    # 计算转出交易
    #from_cnt = record[(record['from'] == List[i]) & (record['value'] != '0')]
    from_cnt = record[(record['fromac'] == normal_list[i])]
    from_ETH_cnt=from_cnt
    out_value = from_ETH_cnt['value'].astype(float).sum()


    # 计算接收交易
    to_cnt = record[(record['toac'] == normal_list[i]) & (record['value']!='0')]  # to:receive
    to_ETH_cnt = to_cnt
    in_value = to_cnt['value'].astype(float).sum() 
    Balance= in_value-out_value
    output['In'][i] = in_value
    output['Out'][i] = out_value
    if Balance<0:
        output['Balance'][i] = 0
    else:
        output['Balance'][i] = Balance

In [27]:
output.to_csv(account_feature_output_path, index=False)

In [26]:
output

,address,In,Out,Balance
0,0x0000000000000000000000000000000000000000,2.60607e+59,0,2.60607e+59
1,0x0000000d2138b2ee1865cd3e4454c562b9ba7bff,16.1323,16.0759,0.0563942
2,0x0000002bfa4dac0fdcf5cd9d47259241ce92459b,195.489,194.305,1.18317
3,0x000000809f5115368b36a7aaa4480caaf5bf809c,12.6217,11.6203,1.00132
4,0x000001f568875f378bf6d170b790967fe429c81a,275.605,238.564,37.0412
...,...,...,...,...
11309,0x1235c4a48841724130abccfbd13e64e1f150bc5b,337.965,1,336.965
11310,0x12362e9d5a0f816b6d4a755b1b14158028309d03,1001,1001,0.001323
11311,0x123641357e08723be9db36967184412d5d7b07dc,245.795,245.055,0.73945
11312,0x123658dadbf5d26a33736485b7564a871c05d473,2001,2001,0.00141491
11313,0x1236eff935945d3644184f3584380a6be5aeb566,244.132,244.041,0.09135

In [28]:
max(output['Balance'])

2.606073728527741e+59

In [31]:
print(len(output.loc[(output['Balance']>=0)& (output['Balance']<0.01) ])/len(output))
print(len(output.loc[(output['Balance']>=0.01)& (output['Balance']<0.1) ])/len(output))
print(len(output.loc[(output['Balance']>=0.1)& (output['Balance']<1) ])/len(output))
print(len(output.loc[(output['Balance']>=1)& (output['Balance']<10) ])/len(output))
print(len(output.loc[(output['Balance']>=10)& (output['Balance']<100) ])/len(output))
print(len(output.loc[(output['Balance']>=100)& (output['Balance']<1000) ])/len(output))
print(len(output.loc[(output['Balance']>1000)])/len(output))

0.4036591833127099
0.22936185257203465
0.1149018914619056
0.10659360084850628
0.09651758882800071
0.037740852041718224
0.011225030935124624