In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
#Event='AscendEx'
Event='Upbit'
raw_path='../Dataset/'+Event+'/all_data_token/'
address_path='../Dataset/'+Event+'/dataset/'
#account_feature_output_path = '../Code_Results/Intermediary_Account_Feature_Results/'+Event+'_account_feature.csv'
input_path ='../Code_Results/Tx_Value_Results/Tx_ETH_Value.csv'

In [3]:
all_tx=pd.read_csv(address_path+"all-tx.csv")
all_ETH_tx= all_tx.loc[pd.isnull(all_tx["contractAddress"])]

D:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
len(all_ETH_tx)

1627861

In [5]:
import math
math.log10(max(list(all_ETH_tx['value'].astype(float)))/1e+18)

5.534026106056135

In [6]:
input_csv = pd.read_csv(input_path)

In [7]:
input_csv

   Tx_value  Num  Percent
0         0  NaN      NaN
1         1  NaN      NaN
2         2  NaN      NaN
3         3  NaN      NaN
4         4  NaN      NaN
5         5  NaN      NaN
6         6  NaN      NaN

In [13]:
#Step3：统计交易金额所在范围的数量
import warnings
warnings.filterwarnings("ignore")
tmp=len(all_ETH_tx.loc[(all_ETH_tx['value'].astype(float)/1e+18<1)])
input_csv['Num'][0]=tmp                  
for i in range(1,len(input_csv['Tx_value'])):
    Tx_value_range=input_csv['Tx_value']
#     print(int(Tx_value_range[i]))
    min_value=10**(Tx_value_range[i].astype(float)-1)
    max_value=10**(Tx_value_range[i].astype(float))
#     print(min_value)
#     print(max_value)
    tmp=len(all_ETH_tx.loc[(all_ETH_tx['value'].astype(float)/1e+18>=min_value)& (all_ETH_tx['value'].astype(float)/1e+18<max_value)])
    #print(tmp)
    input_csv['Num'][i]=tmp
#     break

In [16]:
input_csv['Percent']=input_csv['Num']/sum(input_csv['Num'])

In [17]:
input_csv

   Tx_value        Num   Percent
0         0  1124740.0  0.690931
1         1   349718.0  0.214833
2         2   134040.0  0.082341
3         3    17591.0  0.010806
4         4     1676.0  0.001030
5         5       94.0  0.000058
6         6        2.0  0.000001

In [18]:
sum(input_csv['Percent'])

1.0