In [126]:
import pandas as pd
import numpy as np
import os
import csv

In [127]:
#Event='AscendEx'
Event='Upbit'
raw_path='../Dataset/'+Event+'/all_data_token/'
address_path='../Dataset/'+Event+'/dataset/'
account_feature_output_path = '../Code_Results/Intermediary_Account_Feature_Results/'+Event+'_account_Balance.csv'
feature_output_path ='../Code_Results/Intermediary_Account_Feature_Results/'+Event

In [174]:
#Step1：筛选出之发生了ETH交易的洗钱账户（source+layering）
#方法2：all_erc20_address和all_normal_address的交集，再用all_normal_address减掉交集
all_address=pd.read_csv(address_path+"all-address.csv")
all_erc20_address=pd.read_csv(address_path+"all-erc20-address.csv")
all_normal_address=pd.read_csv(address_path+"all-normal-address.csv")
address=all_address['address']
erc20_address=all_erc20_address['address']
normal_address=all_normal_address['address']
ETH_address=set(address)-set(erc20_address)
temp=set(erc20_address)&set(normal_address)
ETH_address=list(set(normal_address)-temp)
#再筛选出来label是heist的账户
all_ETH_address=all_normal_address[all_normal_address['address'].isin(ETH_address)]
# ETH_heist_address=list(all_ETH_address.loc[(all_ETH_address['label']=='heist')&(all_ETH_address['name_tag']!='ml_transit_9')]['address'])
ETH_heist_address=list(all_ETH_address.loc[(all_ETH_address['label']=='heist')]['address'])

In [175]:
len(ETH_heist_address)

9968

In [176]:
#Step2：筛选出ETH账户的交易
# ETH_address={'0x70dcf33ca09bd87bb2a301280331406ebd32c8a0'}  测试数据
all_normal_tx=pd.read_csv(address_path+"all-normal-tx.csv")
ETH_tx=all_normal_tx[all_normal_tx['from'].isin(list(ETH_heist_address)) | all_normal_tx['to'].isin(list(ETH_heist_address))]
ETH_tx.to_csv('../Code_Results/Intermediary_Account_Feature_Results/'+Event+'_ETH_account_TX.csv', index=False)

In [177]:
len(ETH_tx)

119139

In [178]:
with open(account_feature_output_path,'w') as f:

    csv_write = csv.writer(f)
    csv_head = ["address","In","Out","Balance"]
    csv_write.writerow(csv_head)

output = pd.read_csv(account_feature_output_path)
output['address'] = ETH_heist_address

In [179]:
#Step3：统计每个账户的余额
for i in range(0,len(ETH_heist_address)):
    print('%d/%d'%(i,len(ETH_heist_address)),end="\r")
    record=ETH_tx.loc[ETH_tx["isError"]!=1]

    # 计算转出交易
    #from_cnt = record[(record['from'] == List[i]) & (record['value'] != '0')]
    from_cnt = record[(record['from'] == ETH_heist_address[i])]
    from_ETH_cnt=from_cnt.loc[pd.isnull(from_cnt["contractAddress"])]
    out_value = from_ETH_cnt['value'].astype(float).sum() / (1E+18)


    # 计算接收交易
    to_cnt = record[(record['to'] == ETH_heist_address[i]) & (record['value']!='0')]  # to:receive
    to_ETH_cnt = to_cnt.loc[pd.isnull(to_cnt["contractAddress"])]
    in_value = to_cnt['value'].astype(float).sum() / (1E+18)
    Balance= in_value-out_value
    output['In'][i] = in_value
    output['Out'][i] = out_value
    if Balance<0:
        output['Balance'][i] = 0
    else:
        output['Balance'][i] = Balance

In [180]:
output.to_csv(account_feature_output_path, index=False)

In [181]:
output

,address,In,Out,Balance
0,0xe7ef8592e64df04891e1e3bbf3013970b5a54f43,195.383,190.134,5.24853
1,0x7916ed1b5accf672e277fc06b1538a21a30bfbee,347.151,350.467,0
2,0x170dedd533c37facd60ee18b51d7bcde274a0d1f,152.063,153.61,0
3,0x16ffc8a17b60398e4fcdc8c111e56373a60d8db1,31.3858,31.3644,0.0214146
4,0x6c134879dab2103aa5b55e90a16eaf96d0f31a2c,20.0617,20.0104,0.051262
...,...,...,...,...
9963,0x466f1a5791fb1c56e8fe45b834d8292a5bb02012,49.9969,0,49.9969
9964,0x79078fb3922d85fa6c6c84decdc525c2f400c0bd,0.02,0,0.02
9965,0xfe5dc2deb44a49e74e0a1dc8ae5b38feedeaf27d,2.22803,0,2.22803
9966,0x94fcaae0ad1f517dd99c02af8f2627495315b55c,0.0255907,0,0.0255907
9967,0x15110a3bc9aee71ad95988a2be70f6f414bf1eec,0.0432863,0,0.0432863

In [182]:
max(output['Balance'])

848.3338890342145

In [183]:
print(len(output.loc[(output['Balance']>=0)& (output['Balance']<0.01) ])/len(output))
print(len(output.loc[(output['Balance']>=0.01)& (output['Balance']<0.1) ])/len(output))
print(len(output.loc[(output['Balance']>=0.1)& (output['Balance']<1) ])/len(output))
print(len(output.loc[(output['Balance']>=1)& (output['Balance']<10) ])/len(output))
print(len(output.loc[(output['Balance']>=10)& (output['Balance']<100) ])/len(output))
print(len(output.loc[(output['Balance']>=100)& (output['Balance']<1000) ])/len(output))

0.6748595505617978
0.12720706260032102
0.08196227929373996
0.06912118780096309
0.04504414125200642
0.0018057784911717496